/* dm-sans-regular - latin */
@font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/dm-sans/dm-sans-v4-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('DM Sans Regular'), local('DMSans-Regular'),
         url('fonts/dm-sans/dm-sans-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/dm-sans/dm-sans-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/dm-sans/dm-sans-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('fonts/dm-sans/dm-sans-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/dm-sans/dm-sans-v4-latin-regular.svg#DMSans') format('svg'); /* Legacy iOS */
    font-display: swap;
  }
  /* dm-sans-700 - latin */
  @font-face {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/dm-sans/dm-sans-v4-latin-700.eot'); /* IE9 Compat Modes */
    src: local('DM Sans Bold'), local('DMSans-Bold'),
         url('fonts/dm-sans/dm-sans-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/dm-sans/dm-sans-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('fonts/dm-sans/dm-sans-v4-latin-700.woff') format('woff'), /* Modern Browsers */
         url('fonts/dm-sans/dm-sans-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('fonts/dm-sans/dm-sans-v4-latin-700.svg#DMSans') format('svg'); /* Legacy iOS */
    font-display: swap;
  }
  
:root {
    --light: #efedea;
    --dark: #212121;
  }

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #f5f5f5;

    padding: 0;
    margin: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow-x: hidden;
}

.page {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  overflow: auto;
}

.landing, .finished, #sorry {
    background-image: url('./images/bg.jpg');
    /* background-size: cover; */
    background-position: 90% top;
    background-size: 2000px;
    background-repeat: no-repeat;

    height: auto;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding: 1.4em;
    max-width: 1250px;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media only screen and (min-height: 800px) {
    .landing, .finished {
        background-size: cover;
    }
}
.finished {
    background-image: linear-gradient(to top, #ff7f95 -14%, #ffce98 91%);
    background-size: initial;
    background-position: initial;
}

.finished a.button {
    background-color: #fff;
    color: var(--dark) !important;
    border: 0px !important;
}

.landing-content, .finished-content {
    max-width: 700px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    margin: 0.4em 0 0.1em 0;
    font-size: 9vh;
    word-wrap: break-word;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.94;
    letter-spacing: 0.2px;
    color: var(--light);
}
@media only screen and (min-height: 800px) {
    h1 {
        font-size: 6em;
    }
}

p {
    font-size: 1em;
    line-height: 1.33;
    letter-spacing: normal;
}

.landing p {
    color: var(--light);
    font-size: 1.2em;
}

.arrow-wrapper {
    margin: 2em auto;
}

img.arrow {
    transform: rotate(-90deg);
}

.bounce {
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-20px);
    }
    60% {
      transform: translateY(-10px);
    }
  }

.landing2 {

    background-color: #efedea;
    background-size: cover;

    min-height: 100vh;
    height: auto;
    min-height: -webkit-fill-available;
    padding: 1.4em;

    display: flex;
    align-items: stretch;
}

.landing2-content {
    max-width: 500px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing2-content p {
    font-size: 1em;
}
.landing2-content span.title {
    font-size: 1.1em;
    letter-spacing: 2.5px;
    color: #000000;
}

.landing2-content .bottom, .finished-content .bottom {
    text-align: center;
    margin: 1em auto;
    max-width: 400px;
    width: 100%;
}

.finished a.button {
    border: solid 2px var(--light);
    color: var(--light);
}
.finished a.button:hover {
    background-color: #FFFFFF;
    color: #000000;
}
.finished p {
    color: var(--light);
    text-align: center;
}
.sorry p {
    text-align: left;
}

button, a.button {
    display: block;

    border-radius: 10px;
    border: solid 2px var(--dark);

    padding: 0.6em 1.3em;
    margin: 0.6em auto;
    width: 100%;
    box-sizing: border-box;

    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: var(--dark);
    text-align: center;

    background: transparent;

    transition: all 0.3s;
}
button:hover, a.button:hover, button.on {
    background: black;
    color: white;
    cursor: pointer;
}
a {
  transition: opacity 300ms;
}
a.inactive {
  opacity: 0.2;
}

.survey {
    background-color: #efedea;
    /* background-image: url('./images/white-bg.jpg'); */
    background-size: cover;

    min-height: 100vh;
    min-height: -webkit-fill-available;
    padding: 1.4em;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.survey-content {
    width: 100%;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
}

h3 {
    text-transform: uppercase;
    line-height: 1.25;
    letter-spacing: 4px;
    color: #000000;
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}

.finished h3 {
    line-height: 1.25;
    letter-spacing: 4px;
    color: var(--light);
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}

h2 {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.2px;
    margin-top: 0.5em;
    color: var(--dark);
}

.survey-content .survey-details {
    padding-top: 1.2em;
}

.survey .right-arrow {
    transform: rotate(180deg);
}

.survey .arrows {
    display: flex;
    justify-content: space-between;

    width: 120px;
    margin: 3em auto 1em auto;
}

.survey .survey-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.survey button.small {
    display: inline-block;
    width: 3em;
    padding-left: 0;
    padding-right: 0;
}
.survey button.medium {
    display: inline-block;
    width: 60%;
}
.survey button.large {
    display: inline-block;
    width: 100%;
    
}

.survey-details button {
    margin: 0 0 1.1em 0;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: center;
}

.survey-details p {
    margin-top: 0;

    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: 0.2px;
    color: #000000;
}

.survey-details textarea {
    width: 100%;
    border-radius: 10px;
    border: solid 2px var(--dark);

    min-height: 150px;

    box-sizing: border-box;

    padding: 0.8em 1.3em;
}

input[type=text], input[type=email], textarea {
    width: 100%;
    border-radius: 10px;
    border: solid 2px var(--dark);
    font-size: 0.9em;

    background: transparent;

    box-sizing: border-box;

    padding: 0.6em 0.7em;
    margin-bottom: 0.6em;
}

span.underline {
    text-decoration: underline;
}

.slider-container {
    width: 100%; /* Width of the outside container */
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0.1em 0;
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 4px; /* Specified height */
    background: var(--dark); /* Grey background */
    outline: none; /* Remove outline */
    border-radius: 12px;
    margin: 1.7em 0 4em 0;
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    border-radius: 100%;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--dark); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--dark); /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

span.output {
    border-radius: 10px;
    border: solid 2px var(--dark);

    width: 2.6em;

    padding: 0.3em 0.7em;
    margin: auto;
    box-sizing: border-box;

    display: inline-block;
    text-align: center;
    font-size: 1.3em;
    margin-top: 1em;
    margin-right: 1em;
  }

  .draggable-list {
    width: 100%
  }

  .draggable-item {
    display: flex;
    align-items: center;

    border-radius: 10px;
    border: solid 2px var(--dark);

    padding: 0.6em 1em;
    width: 80%;
    box-sizing: border-box;

    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
    text-align: center;

    margin-bottom: 0.4em;

    background: #efedea;
  }

  .draggable-item img {
    height: 22px;
    margin-right: 1em;
  }

  .gif {
    object-fit: contain;
    width: 100%;
    height: 60vh;
  }

  #workshop-info img, img.center {
      width: 75%;
      max-width: 200px;
      height: auto;
      margin: 2em auto;
      display: block;
  }

  #workshop-info h3 {
      margin-top: 4em;
  } 

  #workshop-info .age-select {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      max-width: 320px;

      margin: 0.6em 0;
  }

  #workshop-info .age-select button {
      font-size: 0.9em;
      padding: 0.7em 0.8em;
      width: initial;
      margin: initial;
  }

  .hidden {
      display: none;
  }