@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    --light: #efedea;
    --dark: #212121;
  }

body {
    font-family: 'DM Sans', sans-serif;

    padding: 0;
    margin: 0;

    overflow-x: hidden;
}

.landing {
    background-image: url('../images/gradient.png');
    background-size: cover;

    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 1.4em;

    box-sizing: border-box;
}

.landing-content {
    max-width: 800px;
    margin: auto;
}

h1 {
    text-transform: uppercase;
    margin: 0.4em 0 0.1em 0;
    font-size: 7vh;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: 1.88px;
    color: var(--dark);
}

p {
    font-size: 3vh;
    line-height: 1.33;
    letter-spacing: 0.4px;
    color: #000000;
}

.landing2 {

    background-color: #e8e8e8;

    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 1.4em;

    box-sizing: border-box;
}

.landing2-content {
    max-width: 800px;
    height: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.landing2-content p {
    font-size: 1em;
}
.landing2-content span.title {
    font-size: 1.1em;
    letter-spacing: 2.5px;
    color: #000000;
}

.landing2-content .bottom {
    text-align: center;
    margin: 1em auto;
    max-width: 400px;
    width: 100%;
}

button, a.button {
    display: block;

    border-radius: 10px;
    border: solid 2px var(--dark);

    padding: 0.6em 1.3em;
    margin: auto;
    width: 100%;
    box-sizing: border-box;

    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;

    background: transparent;

    transition: all 0.3s;
}
button:hover, a.button:hover {
    background: black;
    color: white;
    cursor: pointer;
}

.survey {
    background-color: #e8e8e8;
    background-image: url('../images/white-bg.jpg');
    background-size: cover;

    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
    padding: 1.4em;

    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.survey-content {
    width: 100%;
    max-width: 800px;
    height: 100%;
    margin: 0 auto;
}

.survey-content h3 {
    line-height: 1.25;
    letter-spacing: 4px;
    color: #000000;
    font-weight: normal;
    font-size: 1em;
    margin: 0;
}

.survey-content h2 {
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: 0.2px;
    margin-top: 0.5em;
    color: var(--dark);
}

.survey-content .survey-details {
    padding-top: 1.2em;
}

.survey .right-arrow {
    transform: rotate(180deg);
}

.survey .arrows {
    display: flex;
    justify-content: space-between;

    width: 120px;
    margin: 1em auto;
}

#page-01 .survey-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.survey button.small {
    display: inline-block;
    width: 3em;
    padding-left: 0;
    padding-right: 0;
}
.survey button.medium {
    display: inline-block;
    width: 60%;
}
.survey button.large {
    display: inline-block;
    width: 100%;
    
}

.survey-details button {
    margin: 0 0 1.3em 0;
    font-weight: normal;
    font-size: 0.9em;
    line-height: 1.33;
    letter-spacing: 0.2px;
    text-align: center;
}